aiogram==3.13.1
aiohttp==3.13.2 --only-binary :all:
SQLAlchemy==2.0.35
python-dotenv==1.0.1
cryptography==43.0.1 --only-binary :all:
requests==2.32.3
pydantic==2.9.2 --only-binary :all:
pydantic-core==2.41.5 --only-binary :all:
bip-utils==2.9.3
playwright==1.48.0
asyncio==3.4.3
decimal
